@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import "tailwindcss";

@theme {
    --font-oswald: Oswald, sans-serif;
}

@keyframes scaleInOut {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.scale-animation {
    animation: scaleInOut 20s ease-in-out infinite;
}